body{
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: green;
    
}

h1{text-align: center}

ul > li {border: 2px blue;}

button{
    margin: 2px red;
}